---
import "@fontsource-variable/space-grotesk"
import FormRequest from "@/components/react/FormRequest"
import Header from "@/components/Header.astro"
import { Toaster } from "@/components/ui/toaster"
import "@/styles/globals.css"
import Hero from "@/components/Hero.astro"
import Partnership from "@/components/Partnership.astro"
import Services from "@/components/Services.astro"
import Contactus from "@/components/Contactus.astro"
import Footer from "@/components/Footer.astro"
import Projects from "@/components/Projects.astro"
import { TailwindIndicator } from "@/components/react/tailwind-indicator"
import DealingProcess from "@/components/DealingProcess.astro"
import Teams from "@/components/Teams.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>Joki Priceless</title>
	</head>
	<body class="bg-white">
		<Header />
		<Hero />
		<Partnership />
		<main>
			<Services />
			<Projects />
			<DealingProcess />
			<Teams />
			<Contactus />
		</main>
		<Footer />
		<TailwindIndicator client:visible />
	</body>
</html>
