---
import { Image } from "astro:assets"
import { Button } from "./ui/button"
import FormRequest from "./react/FormRequest"
import ContainerLayout from "./ContainerLayout.astro"
---

<ContainerLayout class="py-12">
	<div class="w-full rounded-3xl md:p-12 bg-secondary p-6 flex">
		<div class="flex-1 flex flex-col space-y-6">
			<h2>Ayo Hubungi sekarang!</h2>
			<p class="max-w-lg">
				Hubungi kita sekarang untuk tanya-tanya atau ingin tau bagaimana proses
				bekerja sama dengan kita.
			</p>
			<div>
				<FormRequest client:visible />
			</div>
		</div>
		<Image
			src="/images/assets/contact-us.png"
			class={"md:block hidden object-contain"}
			alt={"contact-us"}
			width="300"
			height="300"
		/>
	</div>
</ContainerLayout>
