---
import { Button } from "./ui/button"
---

<footer class="bg-black p-12 w-full border-t-2 border-main">
	<div class="flex justify-between text-gray-400">
		<div>
			<p class="text-lg text-white">JokiPriceless</p>
		</div>
		<div class="flex justify-center space-x-3 font-light">
			<a href="#">
				<Button className="text-white" variant={"link"}>Whatsapp</Button>
			</a>
			<a href="#">
				<Button className="text-white" variant={"link"}>Instagram</Button>
			</a>
			<a href="#">
				<Button className="text-white" variant={"link"}>Tiktok</Button>
			</a>
		</div>
	</div>
</footer>
