---
import { Button } from "./ui/button"
---

<div class="w-full md:min-h-[50dvh] flex justify-center items-center">
	<div
		class="flex text-center flex-col items-center justify-center md:max-w-2xl space-y-4"
	>
		<h1>Selamat datang di JokiPriceless!</h1>
		<p>
			Kami adalah agensi pengembangan perangkat lunak yang siap membantu Anda
			mewujudkan ide-ide inovatif Anda.
		</p>
		<div class="flex w-fit gap-3">
			<Button variant={"black"} size={"lg"}>Lihat lebih lanjut</Button>
			<Button variant={"neutral"} size={"lg"}>Hubungi Kami</Button>
		</div>
	</div>
</div>
