---
import HighlightTitle from "./HighlightTitle.astro"
import PatternBackground from "./PatternBackground.astro"
import HeroTitle from "./react/HeroTitle"
import { Button } from "./ui/button"
---

<div class="w-full min-h-[70dvh] flex justify-center relative items-center">
	<div
		class="flex flex-col items-center text-center justify-center md:max-w-2xl space-y-4"
	>
		<HeroTitle client:visible />
		<p>
			<span class="font-bold">JokiPriceless</span> adalah agensi pengembangan web
			dan aplikasi yang siap membantu mewujudkan keinginan Anda.
		</p>
		<div class="flex w-fit gap-3">
			<Button variant={"black"}>Hubungi Kami</Button>
		</div>
	</div>
	<PatternBackground position="center" class="top-0 -translate-y-[20%]" />
</div>
