---
import { Button } from "./ui/button"
---

<div class="w-full md:min-h-[50dvh] flex justify-center items-center">
	<div class="flex flex-col items-start justify-center md:max-w-2xl space-y-4">
		<h1>Selamat datang di JokiPriceless!</h1>
		<p>
			Kami adalah agensi pengembangan perangkat lunak yang siap membantu Anda
			mewujudkan ide-ide inovatif Anda.
		</p>
		<div class="flex w-fit gap-3">
			<Button variant={"black"}>Lihat lebih lanjut</Button>
		</div>
	</div>
	<div>
		<img
			src="/images/assets/journal-man-and-woman-developing-mobile-app.png"
			alt="hero-development-image"
		/>
	</div>
</div>
