---
import { cn } from "@/lib/utils"

interface Props {
	color?: string
}
const colorPicker = (str?: string) => {
	switch (str) {
		case "white":
			return "border-white"
		default:
			return "border-main"
	}
}
const { color } = Astro.props
---

<span class={cn("border-b-8 leading-tight", colorPicker(color))}>
	<span> <slot /></span>
</span>
